[gcode_macro BEEP]
gcode:
    # Set sound volume, from 0-1.0
    {% set volume = params.VOLUME|default(1)|float %}
    # Use a 100ms duration is P is omitted.
    {% set duration = params.DURATION|default(100)|int %}
    # Loop cycles
    {% set loop = params.LOOP|default(1)|int %}
    # Pause interval duration
    {% set interval = params.INTERVAL|default(100)|int %}

    {% for n in range(loop) %}
    SET_PIN PIN=BEEPER VALUE={volume if volume > 0 and volume <= 1 else 1}
    G4 P{duration}
    SET_PIN PIN=BEEPER VALUE=0
    {% if n != loop %}
        G4 P{interval}
    {% endif %}
    {% endfor %}

# For compatibility of other printers
[gcode_macro M300]
gcode:
    # NOT USED, future proofing - Use a default 1kHz tone if S is omitted.
    {% set S = params.S|default(1000)|int %}
    # Use a 100ms duration is P is omitted.
    {% set P = params.P|default(100)|int %}

    BEEP VOLUME=1 DURATION={P}
