[gcode_macro _print_profile_vars]
variable_filament_z_offset: {
    'PLA': '-0.06',
    'PETG': '0.00',
    'ABS': '0.02',
    }
gcode:
    # This section is required.  Do Not Delete.


[gcode_macro _ADJUST_Z_OFFSET]
gcode:
    {% set filament = params.FILAMENT %}
    {% set bed_type = params.BED_TYPE %}
    {% set filament_z_offset = printer["gcode_macro _print_profile_vars"].filament_z_offset[filament] %}

    {% if filament_z_offset %}
    SET_GCODE_OFFSET Z={filament_z_offset}
    {% endif %}
