[gcode_macro _ADJUST_Z_OFFSET]
gcode:
    # Constants
    {% set MAX_Z_OFFSET = 0.12%}
    {% set REF_BED_TEMP = 75 %}
    {% set MAX_BED_TEMP = 95 - REF_BED_TEMP %}

    # Input parameters
    {% set bed = params.BED|float - REF_BED_TEMP %}

    # Calculate the offset
    {% if bed >= MAX_BED_TEMP %}
      {% set filament_z_offset = MAX_Z_OFFSET %}
    {% else %}
      {% set filament_z_offset = bed / MAX_BED_TEMP * MAX_Z_OFFSET %}
    {% endif %}

    SET_GCODE_OFFSET Z={filament_z_offset}

[gcode_macro BED_LEVEL_SANITY_CHECK]
gcode:
    M190 S60             ; heat the bed to reference temp
    M109 S180            ; heat the extruder

    G28                  ; home all axes
    G90                  ; absolute positioning

    PARK_CENTER_CENTER   ; Park the toolhead
    G1 Z1.2 F3600        ; Move the toolhead closer to bed
    Z_ENDSTOP_CALIBRATE  ; Start the Z endstop calibrate (for the UI)
